#table-chapter-verification_info, #table-chapter-verification_paginate, #table-chapter-verification_length {
    display: none !important;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
    border-bottom: unset !important;
}

.site-login {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar-toggle {
    position: absolute;
    left: 20px;
    top: 20px;
}
body {
    background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
        transition: padding-left .2s;
    }
    main.without-sidebar {
        padding-left: 0px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    transition: .2s;
}

.sidebar-hide {
    left: -240px;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
    .only-desktop {
        display: none;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

select {
    padding: .33em .75em !important;
}