/* first navbar && sticky header */
.header-navbar {
    background-color: rgba(251,251,251,var(--mdb-bg-opacity));
}
.header-navbar a {
    color: black;
}
#navbar-fast-search {
    z-index: 0;
}
#navbar-fast-search button {
    position: absolute;
    right: 3px;
    background: unset !important;
    color: black;
    box-shadow: unset;
    padding: 8px;
}
#navbar-fast-search #search-addon {
    padding: 0;
    margin: 0;
}
.header-navbar-container {
    position: relative;
    z-index: 1;
}
input.form-control {
    z-index: 0 !important;
}
.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.notifications-btn {
    font-size: 22px;
    z-index: 2;
    position: relative;
}
.change-language {
    text-transform: capitalize;
}
.change-language-dropdown .row {
    width: 300px;
}
.change-language-dropdown .row .col-6:first-child li a {
    border-radius: 0 .5rem .5rem 0;
}
.change-language-dropdown .row .col-6:not(:first-child) li:not(:last-child) a {
    border-radius: .5rem 0 0 .5rem;
}
.change-language-dropdown .row .col-6:not(:first-child) li:last-child a {
    border-radius: .5rem 0 .5rem 0;
}
.change-language-dropdown .row .col-6:first-child > span {
    left: 15px;
    display: block !important;
    position: relative;
}
.change-language-dropdown .row .col-6:not(:first-child) > span {
    right: 15px;
    display: block !important;
    position: relative;
}

/* second navbar */
.navbar-logo {
    height: 30px;
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: -10px;
    filter: invert(100%);
}

/* dropdown menu */
.dropdown-menu > a:first-child, a.dropdown-item:first-child {
    border-radius: .5rem .5rem 0 0;
}
.dropdown-menu > a:last-child, a.dropdown-item:last-child {
    border-radius: 0 0 .5rem .5rem;
}
.dropdown-menu-end {
    right: -10px;
}
.mini-menu-dropdown .dropdown-menu {
    left: 145px;
    right: unset;
    top: 0px;
}

/*z-index helpers*/
.z-index--1 {
    z-index: -1;
}
.z-index-0 {
    z-index: 0;
}
.z-index-1 {
    z-index: 1;
}
.z-index-9 {
    z-index: 9;
}
.z-index-999 {
    z-index: 999;
}
.z-index-999999 {
    z-index: 999999;
}

/* helpers */
.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}
.stars i {
    color: gold;
}
.mw-49 {
    max-width: 49%;
}

/* carousel */
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.index-carousel {
    min-height: 350px;
    padding: 40px !important;
    border-radius: .5rem;
}
.swiper {
    z-index: 0;
}
.swiper-pagination {
    transform: translateY(8px);
}
.index-carousel .title {
    margin-top: 20px;
    color: white;
}
.index-carousel .subtitle, .index-carousel .text > p, .index-carousel .swiper-button-next, .index-carousel .swiper-button-prev {
    color: white;
}
@media only screen and (max-width: 768px) {
    .index-carousel {
        height: auto;
    }
}

/* manga card */
a.manga-card {
    color: white;
    border-radius: .25rem;
    text-decoration: none;
    transition: .2s;
    position: relative;
    width: 100% !important;
    height: 300px;
    display: inline-block;
}
a.manga-card .manga-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .25rem;
    transition: filter .2s;
}
a.manga-card:hover .manga-image {
    filter: brightness(30%) blur(3px);
}
a.manga-card .additional-info {
    position: absolute;
    background: #0f0f0fde;
    width: 500px;
    padding: 10px;
    margin-left: 200px;
    top: 0;
    z-index: 10;
}
.manga-card .chapters-count {
    bottom: 0;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
    font-weight: bold;
    padding: 0px 7px;
}
.manga-card > .hide-title {
    opacity: 0;
    transition: .2s;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.manga-card:hover > .hide-title {
    opacity: 1;
    color: white;
}
.manga-card .stars {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
}

/* horizontal cards */

.last-updated {
    max-height: 1434px;
    overflow-y: auto;
    overflow-x: hidden;
}
.last-updated .cards {
    margin-bottom: -60px;
}
a.horizontal-card {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    text-decoration: unset;
    transition: .2s;
    flex-direction: row;
    color: black;
}
a.horizontal-card:hover {
    background: rgb(238, 238, 238);
}
a.horizontal-card img {
    max-height: 100px;
}
a.horizontal-card .d-grid h4 {
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* last added */
.last-added {
    z-index: 1;
    overflow: hidden;
}

/* footer */

footer.footer p:nth-child(2) {
    text-align: end;
}

/* mobile support */
@media only screen and (max-width: 992px) {
    footer.footer p {
        width: 100%;
        text-align: center !important;
    }
}

/* scroll to top button */
#scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    font-size: 1.9rem;
    text-align: center;
    z-index: 999999999;
}

/* manga page */
.manga-background {
    position: absolute;
    max-height: 750px;
    z-index: -1;
    width: 100%;
    filter: blur(4px);
    -webkit-filter: brightness(1.5) invert(.1) blur(4px);
    top: 0;
}

/* Read status */
.read-status[data-status="0"] .fa-eye-slash {
    display: none;
}
.read-status[data-status="1"] .fa-eye {
    display: none;
}

/* image loading animation */
.chapter-image {
    width: 100%;
    height: 100%;
    background-size:100% 100%;
}
.chapter-image-loading img {
    display: none;
}
.image-loader {
    display: none;
}
.chapter-image-loading .image-loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 100px;
}
.chapter-image-loading .image-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: hsl(217, 89%, 51%) transparent transparent transparent;
}
.chapter-image-loading .image-loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.chapter-image-loading .image-loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.chapter-image-loading .image-loader div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loader-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* upload chapter */
.dropzone {
    background: unset !important;
    border-radius: 5px;
    border: 2px dashed rgb(148, 148, 148) !important;
    border-image: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: .2s;
    cursor: pointer;
}
.dropzone:hover {
    background-color: rgb(213, 213, 213) !important;
}
.dropzone .dz-preview.dz-image-preview {
    background-color: unset !important;
}
.dropzone .dz-preview.dz-image-preview > .dz-image {
    border: 2px dashed rgb(148, 148, 148) !important;
}
.dropzone .dz-remove {
    color: white;
}
.dz-preview-btn {
    background-color: rgba(255,255,255,.4);
    padding: 0 .4em;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer !important;
    transition: .1s;
    user-select: none;
}
.dz-preview-btn:hover {
    background-color: rgba(255,255,255,.9);
}
.dz-progress, .dz-filename {
    display: none !important;
}
.note {
    border: 0;
}

/* select2 - mdb support */
.select2-container--default .select2-selection--single {
    border: 1px solid #bdbdbd;
    color: #4f4f4f;
    padding: .2rem .2rem;
    display: inline-table;
    width: 100%;
}

/* swal */
.swal2-close:focus {
    box-shadow: unset !important;
}
.set-rate {
    cursor: pointer;
}

/* silent loader */
#silent-loader {
    width: 0%;
    position: fixed;
    height: 5px;
    top: 0;
    left: 0;
    z-index: 2;
    transition: .2s;
}