/* site */
body {
    background-image: url('/images/site/bg.jpg');
    color: white;
    overflow-x: hidden;
}
a {
    text-decoration: unset;
}
nav a, nav button {
    font-weight: 600;
}
.navbar-logo {
    width: 40px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 5px;
}
.swal2-close:focus {
    box-shadow: unset !important;
}
.d-grid {
    display: grid;
}
.section {
    background-color: #272829;
    padding: 5px;
    border-radius: 25px;
}
.tip {
    margin-left: 5px;
    font-size: 85%;
}
footer {
    background: radial-gradient(circle, hsla(276, 91%, 38%, 1) 56%, hsla(277, 100%, 18%, 1) 100%);
    color: white;
    padding: 20px;
}
footer.footer p:nth-child(2) {
    text-align: end;
}
nav {
    background: radial-gradient(circle, hsla(276, 91%, 38%, 1) 56%, hsla(277, 100%, 18%, 1) 100%);
}
.mw-49 {
    max-width: 49%;
}
.btn-search {
    transition: .2s;
    top: 50%;
    position: relative;
    transform: translate(0%, -50%);
    margin-top: -5px !important;
}
.btn-search button {
    color: white;
    background-color: unset;
    border: 0;
}
.btn-search:hover button {
    color: black;
}
.btn-search input {
    display: none;
}
.btn-search:hover {
    padding-right: 250px;
}
.btn-search:hover input {
    position: absolute;
    width: 240px;
    top: 0px;
    left: 35px;
    background: unset;
    display: block;
    box-shadow: unset !important;
    height: 36px;
}
.change-language {
    text-transform: capitalize;
}
.header-navbar a.mini-second-menu {
    display: none;
}
.header-navbar .right-section a,
.header-navbar .change-language-dropdown a,
.sticky-header a.mini-second-menu,
.mini-menu-dropdown .dropdown-menu .dropdown-item {
    color: white;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    transition: .3s;
    border-radius: 50px;
    margin-top: 2px;
}
.header-navbar .right-section a:hover,
.header-navbar a.change-language:hover,
.header-navbar a.mini-second-menu:hover {
    background-color: white;
    color: black;
}
.header-navbar a.mini-second-menu i {
    font-size: 18px;
}
.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 2;
}
.account-btn-dropdown::after, .language-btn-dropdown::after {
    display: none !important;
}
.account-dropdown .dropdown-menu,
.mini-menu-dropdown .dropdown-menu {
    left: unset !important;
    right: 0 !important;
    transform: unset !important;
    top: unset !important;
    border-radius: 25px;
}
.change-language-dropdown .dropdown-menu {
    left: 0 !important;
    transform: unset !important;
    top: unset !important;
    border-radius: 25px;
}
.account-dropdown a.dropdown-item,
.change-language-dropdown a.dropdown-item,
.mini-menu-dropdown a.dropdown-item {
    color: black !important;
    padding: 3px 4px !important;
    margin: 3px 8px !important;
    width: 90% !important;
    transition: .2s;
}
.account-dropdown a.dropdown-item span,
.change-language-dropdown a.dropdown-item span,
.mini-menu-dropdown a.dropdown-item span {
    margin-left: 4px;
}
.account-dropdown a.dropdown-item:hover,
.change-language-dropdown a.dropdown-item:hover,
.mini-menu-dropdown a.dropdown-item:hover {
    background-color: #e8e8e8;
}
.dropdown-menu {
    min-width: 11rem;
}
.stars i {
    color: gold;
}
.large-card .stars {
    text-align: center;
}
.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}
.read-chapter {
    padding: .15rem;
}

.mini-menu-dropdown a {
    color: black;
    padding: 3px 7px !important;
    margin: 3px 8px !important;
    border-radius: 50px;
    transition: .2s;
}
.mini-menu-dropdown a i {
    margin-left: 4px;
}
.mini-menu-dropdown a:hover {
    background-color: #e8e8e8;
}
.mini-menu-dropdown .dropdown-menu {
    left: 145px !important;
    right: unset !important;
    top: 0px !important;
}

/* container from bootstrap 4.6 */
@media only screen and (min-width: 1400px) {
    .container {
        width: 1140px;
    }
}
.swiper .container {
    width: 100%;
}

/* mobile support */
@media only screen and (max-width: 992px) {
    #navbar-fast-search {
        padding-right: 130px;
    }
    footer.footer p {
        width: 100%;
        text-align: center !important;
    }
}

/* most popular */
h2.most-popular {
    background-color: #272829;
    border-radius: 25px;
    padding: 10px;
    margin: 0;
}
a.large-card {
    color: white;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    transition: .2s;
    position: relative;
    width: 182.5px !important;
    height: 250px !important;
}
a.large-card:hover {
    /* scale: 1.15; */
}
a.large-card .additional-info {
    position: absolute;
    background: #0f0f0f;
    width: 500px;
    padding: 10px;
    margin-left: 165px;
    top: 0;
    z-index: 10;
}
.large-card > .background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: contain;
    background-repeat: round;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: .2s;
    padding: 5px;
}
.large-card:hover > .background {
    filter: brightness(30%);
}
.large-card .chapters {
    bottom: 0;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
    font-weight: bold;
    background-color: #7209b7;
    padding: 0px 7px;
    border-radius: 10px;
}
.large-card > .hide-title {
    opacity: 0;
    transition: .2s;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
}
.large-card:hover > .hide-title {
    opacity: 1;
    color: white;
}
.btn-primary {
    font-weight: bold;
    background: hsla(276, 91%, 38%, 1);
    background-image : linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
    border-radius: 100px !important;
    border: 0;
    transition: .2s;
}
.btn-primary:hover {
    background: hsla(277, 100%, 48%, 1);
    background-image : linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
}
.btn-primary:focus, .btn-primary:active {
    background-color: #840ad6 !important;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: unset !important;
}
.btn-primary.disabled {
    background: hsla(276, 91%, 38%, .7);
}

/* last updated */
.last-updated {
    background-color: #272829;
    border-radius: 25px;
    max-height: 1253px;
    overflow-y: auto;
}
.last-updated .cards {
    margin-bottom: -60px;
}
.last-updated .gradient {
    position: sticky;
    bottom: -21px;
    width: 101%;
    height: 60px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(39, 40, 41) 50px);
}
a.horizontal-card {
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    background: black;
    border-radius: 10px;
    text-decoration: unset;
    color: white;
    transition: .2s;
}
a.horizontal-card:hover {
    background: rgb(26, 26, 26);
}
a.horizontal-card img {
    max-height: 100px;
}
a.horizontal-card .d-grid h4 {
    white-space: nowrap;
    width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* last added */
.last-added {
    z-index: 1;
    overflow: hidden;
    padding-bottom: 27px;
}

/* carousel */
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.index-carousel {
    min-height: 350px;
    padding: 40px !important;
    border-radius: 25px;
}
.swiper-pagination .swiper-pagination-bullet {
    background-color: white !important;
}
.index-carousel .title {
    margin-top: 20px;
    color: white;
}
.index-carousel .subtitle, .index-carousel .text > p, .index-carousel .swiper-button-next, .index-carousel .swiper-button-prev {
    color: white;
}
@media only screen and (max-width: 768px) {
    .index-carousel {
        height: auto;
    }
}

/* manga page */
.manga-background {
    position: absolute;
    max-height: 750px;
    z-index: -1;
    width: 100%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    top: 0;
}
.manga-page .informations {
    margin-top: 25px;
}
.manga-page .informations td {
    left: 25px;
    position: relative;
}
@media only screen and (min-width: 768px) {
    .manga-page img {
        max-width: 250px;
    }
}
@media only screen and (max-width: 768px) {
    .manga-page .stars {
        text-align: center;
        margin-top: 1rem;
    }
}
.manga-chapters .chapter > a {
    background-color: #1c1c1c;
    border-radius: 10px;
    margin: 10px 0px;
    justify-content: space-between;
    color: white;
    transition: .2s;
}
.manga-chapters .chapter > a:hover {
    text-decoration: unset;
    background-color: #0d0d0d;
}
.manga-chapters .chapter a span {
    margin: 2px;
    font-size: 18px;
}

/* reader */
.reader {
    margin-top: 200px;
    margin-bottom: 200px;
}
.reader img {
    max-width: 720px;
}

/* upload chapter */
.upload-chapter {
    margin-top: 150px;
    margin-bottom: 150px;
}
#upload-chapter {
    border-radius: 50px !important;
}
.dropzone {
    background: unset !important;
    border-radius: 5px;
    border: 2px dashed rgb(148, 148, 148) !important;
    border-image: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: .2s;
    cursor: pointer;
}
.dropzone:hover {
    background-color: rgb(53, 53, 53) !important;
}
.dropzone .dz-preview.dz-image-preview {
    background-color: unset !important;
}
.dropzone .dz-preview.dz-image-preview > .dz-image {
    border: 2px dashed rgb(148, 148, 148) !important;
}
.dropzone .dz-remove {
    color: white;
}
.dz-progress, .dz-filename {
    display: none !important;
}
.select2-selection {
    height: 100% !important;
    background: rgb(48, 48, 48) !important;
    border: rgb(49, 49, 49) !important;
    color: #a0a0a0 !important;
    border-radius: 50px !important;
}
.select2-dropdown {
    border: 0 !important;
}
.select2-search {
    background-color: #272829;
    color: white;
}
.select2-search input {
    background-color: #272829;
    color: white;
}
.select2-results {
    background-color: #272829;
    color: white;
}
.select2-results__option--selected {
    color: black;
}
#select2-select-manga-container {
    background: rgb(48, 48, 48);
    border: rgb(49, 49, 49) !important;
    color: #c8c8c8 !important;
    border-radius: 50px !important;
    padding: 0.375rem 0;
    width: 95%;
    margin-left: 12px;
}
.select2-selection__arrow {
    right: 12px !important;
    top: 7px !important;
}
#select-manga ~ .select2 {
    width: 100% !important;
}

/* notifications */
.notifications-btn {
    font-size: 22px;
    z-index: 2;
    position: relative;
}
.has-notify::before {
    content: ".";
    color: red;
    position: absolute;
    font-size: 64px;
    z-index: 1;
    margin-top: -69px;
    margin-left: 12px;
}
.notifications-content {
    position: absolute;
    z-index: 10;
    background-color: white;
    color: black;
    padding: 8px 0;
    border-radius: 25px;
    width: 300px;
    right: 0;
}
.notifications-list > ul {
    padding: 0 !important;
    list-style: unset !important;
    max-height: 300px;
}
.notifications-list > ul > li {
    background: #EBEBEB;
    padding: 5px;
    width: 280px !important;
    margin: 10px !important;
    border-radius: 10px;
}
.notifications-list > ul > li > i {
    font-size: 40px;
    left: 10px;
    margin: auto;
}

/* manga review */
#review-form .stars i {
    cursor: pointer;
}

/* manga list */
#manga-list .search-input {
    border-radius: 25px;
    padding: 14px 25px;
    border: unset !important;
}
#manga-list .search-input:focus, #manga-list .search-input:active {
    box-shadow: unset !important;
    border: unset !important;
    outline: unset !important;
}
#manga-list .search-button, #manga-list .filter-button {
    height: 54px;
    width: 54px;
}
#manga-list .manga-card {
    background-color: black;
    border-radius: 25px !important;
    transition: .2s;
}
#manga-list .manga-card:hover {
    background: rgb(26, 26, 26);
}
#manga-list .manga-card img {
    height: 200px;
    border-radius: 10px;
}
#manga-list a {
    color: white;
    transition: .2s;
}
#manga-list a:hover {
    text-decoration: unset;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color:#840ad6;
    box-shadow: unset !important;
    border: 0 !important;
}
@media only screen and (max-width: 768px) {
    #manga-list .manga-card {
        max-width: 100%;
        text-align: center;
    }
    #manga-list .manga-card .col-md-8 {
        margin: 20px 0;
    }
    #manga-list .manga-card img {
        width: 80%;
        height: auto;
    }
}

/* manga comments */
.manga-comments form textarea {
    background: rgb(48, 48, 48) !important;
    border: rgb(49, 49, 49) !important;
    color: #c8c8c8 !important;
    border-radius: 25px !important;
    outline: unset;
    padding: 10px 30px;
}

/* custom form style */
.custom-form-style input {
    background: rgb(48, 48, 48) !important;
    border: 1px solid rgb(49, 49, 49) !important;
    color: #c8c8c8 !important;
    border-radius: 50px !important;
    box-shadow: unset !important;
    transition: 0.15s ease-in-out;
}
.custom-form-style textarea {
    background: rgb(48, 48, 48) !important;
    border: 1px solid rgb(49, 49, 49) !important;
    color: #c8c8c8 !important;
    border-radius: 25px !important;
    box-shadow: unset !important;
    padding: 10px 20px;
    transition: 0.15s ease-in-out;
}
.custom-form-style .custom-file-upload {
    background: rgb(48, 48, 48) !important;
    border: 1px solid rgb(49, 49, 49) !important;
    color: #c8c8c8 !important;
    border-radius: 25px !important;
    box-shadow: unset !important;
    padding: 6px;
    transition: 0.15s ease-in-out;
    width: 100%;
    margin-top: 0.5rem;
}
.custom-form-style .image-preview-file[data-preview=""] {
    opacity: 0;
    cursor: auto;
}
.custom-form-style .image-preview-file {
    color: white;
    float: right;
    opacity: 1;
    transition: .2s;
}
.custom-form-style input:hover, .custom-form-style textarea:hover, .custom-form-style select:hover, .custom-form-style .custom-file-upload:hover, .custom-form-style .select2:hover .select2-selection {
    border-right: 1px solid hsl(276.1, 90.7%, 38%) !important;
    border-left: 1px solid hsl(276.1, 90.7%, 38%) !important;
    background: rgb(55, 55, 55) !important;
}
.custom-form-style .select2 .select2-selection {
    border-right: 1px solid #00000000 !important;
    border-left: 1px solid #00000000 !important;
}
.custom-form-style .select2 .select2-selection > span, .custom-form-style .select2 .select2-selection {
    transition: .2s;
}
.custom-form-style .select2:hover .select2-selection > span {
    background: rgb(55, 55, 55) !important;
}
.custom-form-style input:focus, .custom-form-style textarea:focus {
    border: 1px solid rgb(49, 49, 49) !important;
    border-bottom: 1px solid hsla(276, 91%, 38%, 1) !important;
    background: rgb(65, 65, 65) !important;
}
.custom-form-style select {
    border: 1px solid rgb(49, 49, 49) !important;
    color: #c8c8c8 !important;
    border-radius: 50px !important;
    box-shadow: unset !important;
    transition: 0.15s ease-in-out;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background: transparent;
    background-color: rgb(48, 48, 48) !important;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat !important;
    background-position-x: 98% !important;
    background-position-y: 5px;
}
.custom-form-style .help-block {
    text-align: center;
    color: red;
}

/* comments */
.comment-list .child {
    max-width: 95%;
    margin-left: auto;
    margin-right: 0;
}
.comment {
    display: flex;
    margin: 35px 0;
    position: relative;
}
.comment .avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    transform: translate(0%, 25%);
}
.comment .user-info {
    position: absolute;
    left: 55px;
}
.comment .content {
    width: 100%;
    min-height: 50px;
    margin-top: 25px;
}
.comment .content .text {
    background: rgb(48, 48, 48);
    color: #c8c8c8;
    margin: 3px;
    padding: 3px 7px;
    border-radius: 10px;
    width: 100%;
    min-height: 50px;
}
.comment .rating-section {
    margin-left: 15px;
}
.comment .rating-section a {
    color: #fff;
    text-decoration: unset;
}
.comment .rating-section a {
    color: #fff;
    text-decoration: unset;
    transition: .2s;
}
.comment .rating-section a:hover {
    color: hsla(276, 91%, 38%, 1);
}

/* group manage */
.group-manage .nav {
    min-height: 600px;
}
.group-manage .nav .nav-item a {
    background-color: #333;
    border-radius: 10px;
    color: white;
    margin-top: 9px;
    transition: .2s;
}
.group-manage .nav .nav-item a:hover {
    background-color: #404040;
}

/* custom table */
.custom-table thead th, .custom-table tbody td, .custom-table tbody th {
    border: unset !important;
}
.custom-table thead th {
    background-color: #171717;
}
.custom-table tbody tr:nth-child(even) td, .custom-table tbody tr:nth-child(even) th {
    background-color: #242424;
}
.custom-table tbody tr:nth-child(odd) td, .custom-table tbody tr:nth-child(odd) th {
    background-color: #373737;
}
.custom-table tbody tr:last-child th {
    border-bottom-left-radius: 25px;
}
.custom-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 25px;
}
.custom-table thead th:first-child {
    border-top-left-radius: 25px;
}
.custom-table thead th:last-child {
    border-top-right-radius: 25px;
}
.custom-table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

/* scroll to top button */
#scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: hsla(277, 100%, 48%, 1);
    color: white;
    border-radius: 50%;
    font-size: 1.9rem;
    text-align: center;
    z-index: 999999999;
}

/* image loading animation */
.chapter-image {
    width: 100%;
    height: 100%;
    background-size:100% 100%;
}
.chapter-image-loading img {
    display: none;
}
.image-loader {
    display: none;
}
.chapter-image-loading .image-loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 100px;
}
.chapter-image-loading .image-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: hsla(277, 100%, 48%, 1) transparent transparent transparent;
}
.chapter-image-loading .image-loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.chapter-image-loading .image-loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.chapter-image-loading .image-loader div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loader-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Read status */
.read-status[data-status="0"] .fa-eye-slash {
    display: none;
}
.read-status[data-status="1"] .fa-eye {
    display: none;
}